<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<form action="/data" method="POST">
    <p>Target wallet:</p>
    <p><input type="text" name="Target wallet" placeholder="e.g. 0xfd2605a2bf58fdbb90db1da55df61628b47f9e8c"></p>
    <p>Network</p>
    <select name="Network" id="network">
        <option value="ethereum" selected>Ethereum</option>
        <option value="binance smart chain">Binance Smart Chain - not available</option>
        <option value="avalanche">Avalanche - not available</option>
        <option value="fantom">Fantom - not available</option>
    </select>
    <br>
    <br>
    <input type="submit">

</form>